@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Employee Tracker</h1>
    <p class="lead">Track employees with Employee Tracker.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Col 1</h2>
        <p></p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Col 2</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Col 3</h2>
        <p></p>
    </div>
</div>