@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Employee Tracker</h1>
    <p class="lead">Track employees with Employee Tracker.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-4 panel panel-primary" style="padding: 0;">
        <div class="panel-heading">
            <h3>Col 1</h3>
        </div>
        <div class="panel-body">
            <p>Blah blah blah</p>
        </div>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-offset-2 col-md-4 panel panel-primary" style="padding: 0;">
        <div class="panel-heading">
            <h3>Col 2</h3>
        </div>
        <div class="panel-body">
            <p>Blah blah blah</p>
        </div>
    </div>
</div>