@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Welcome to your <img src="~/Content/ConserviceLogo.png" height="30" style="margin-top:-5px;" /> employee tracker</h2>
    <h1>ConTracked</h1>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-5 panel panel-primary" style="padding: 0; margin-right: 10px; min-height:150px;">
        <div class="panel-heading">
            <h3>Employee Info At Your Fingertips</h3>
        </div>
        <div class="panel-body">
            <p>Intuitive search and filter functionality lets you find the information you need about your employees in just a few clicks.</p>
        </div>
    </div>
    <div class="col-md-5 panel panel-primary" style="padding: 0; margin-left: 10px; min-height:150px;">
        <div class="panel-heading">
            <h3>Track Personnel Changes</h3>
        </div>
        <div class="panel-body">
            <p>View the history of each employee's account, including changes in job title, permission level, and manager.</p>
        </div>
    </div>
</div>